*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    border-bottom: 1px solid #afafaf93;
    z-index: 100;

}

header nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 80px;
}

header nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;

}

header nav .logo span{
    color: rgb(50, 220, 44);

}

header nav .links{
    display: flex;

}

header nav .links li{
    position: relative;
    margin: 0 25px;
    height: 80px;
    line-height: 80px;
    list-style: none;
}

header nav .links li ::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(42, 193, 37);
    transition: 0.3s;
}

header nav .links li:hover ::after{
    width: 100%;
}

header nav .links li.active ::after{
    width: 100%;
}
header nav .links li a{
    color: #c8c6c6;
    font-size: 17px;

}

header nav .socail-link a i{
    color: rgb(42, 193, 37);
    font-size: 24px;
    margin-left: 15px;

}
header nav .socail-link a i:hover {
    color: #fff;
}

.hero-sec{
    height: 100vh;
    background: url(./photo/c724ee62aeeb141e1da52ff3415582f6.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-sec .contanier{
width: 85%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
height: 100%;

}

.hero-sec .contanier .dev-text{
    width: 50%;

}
.hero-sec .contanier .dev-text h1{
    color: white;
    font-size: 70p;
    margin-bottom: 10px;
}
.hero-sec .contanier .dev-text p{
    color: #c8c6c6;
    font-size: 18px;
    margin: 10px 0 50px;
    line-height: 1.7;
}
.hero-sec .contanier .dev-text .btn{
    color: white;
    border: 1px solid rgb(44, 163, 44);
    background: rgb(44, 163, 44);
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.3s;
}
.hero-sec .contanier .dev-text .btn:hover{
    background: transparent;

}
.hero-sec .contanier .dev-text span{
    font-size: 40px;
    color: rgb(34, 154, 34)
}

.hero-sec .contanier .dev-img{
    width: 35%;
    position: absolute;
    bottom: -10px;
    right: 0;

}

.hero-sec .contanier .dev-img img{
    width: 100%;

}
#btnmenu{
    display: none;
}
@media(max-with : 980px){
    header nav .links{
        position: absolute;
        top: 100%;
        right: -420px;
        flex-direction: column;
        background-color: black;
        border-left: 1px solid #444444a8;
        width: 400px;
        height: 100vh;
        text-align: center;
        padding: 20px 0;
        transition: 0.3s;
    }
    header nav .links.active{
        right: 0;

    }
    .socail-link{
        display: none;

    }
    #btnmenu{
        color: white;
        font-size: 3px;
        display: block;
    }

    .hero-sec{
        height: auto;
    }
    .hero-sec .contanier{
        flex-direction: column;
    }
    .hero-sec .contanier .dev-text{
        width: 80%;
        margin-top: 150px;
        margin-bottom: 60px;
        text-align: center;
    }
    .hero-sec .contanier .dev-img{
        position: relative;
        width: 50%;
        

    }
}